# Toolchain

BR2_arm=y
BR2_cortex_a9=y
BR2_GCC_ENABLE_LTO=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_GCC_ENABLE_OPENMP=y
BR2_KERNEL_HEADERS_5_15=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y

# Linux Kernel

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/Xilinx/linux-xlnx.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="xlnx_rebase_v5.15_LTS_2022.2"
# BR2_LINUX_KERNEL_DEFCONFIG="xilinx_zynq"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_EDU_PATH)/board/zynq/kernel.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_USE_CUSTOM_DTS=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_EDU_PATH)/board/zynq/dts/*.dtsi $(BR2_EXTERNAL_EDU_PATH)/board/zynq/dts/system-top.dts"

# U-boot

BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_BOARDNAME="edu-zynq"
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/Xilinx/u-boot-xlnx.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="xlnx_rebase_v2022.01_2022.2"
BR2_TARGET_UBOOT_USE_DEFCONFIG=y
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="xilinx_zynq_virt"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_EDU_PATH)/board/zynq/uboot"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="DEVICE_TREE=zynq-arty SYS_CONFIG_NAME=zynq-arty"
BR2_TARGET_UBOOT_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_EDU_PATH)/board/zynq/uboot/pcw.dtsi $(BR2_EXTERNAL_EDU_PATH)/board/zynq/uboot/zynq-arty.dts"
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_EDU_PATH)/board/zynq/uboot/uboot.config"
BR2_TARGET_UBOOT_FORMAT_BIN=n
BR2_TARGET_UBOOT_FORMAT_ELF=y
BR2_TARGET_UBOOT_FORMAT_REMAKE_ELF=y

# Packages, public


BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_DROPBEAR_LASTLOG=y
BR2_PACKAGE_DROPBEAR_WTMP=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_GSL=y
BR2_PACKAGE_HAVEGED=y
# BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_SPI_TOOLS=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_TCF_AGENT=y
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_NANO=y

BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON_NUMPY=y
BR2_PACKAGE_PYTHON_IPYTHON=y

# Custom 

BR2_PACKAGE_PYTHON_GPIOD=y
BR2_PACKAGE_PYTHON_SMBUS2=y
BR2_PACKAGE_FPGAUTIL=y


# Target

BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyPS0"
BR2_TARGET_GENERIC_HOSTNAME="ZynqEDU"
BR2_TARGET_GENERIC_ISSUE="Welcome to Zynq Arty Linux"
BR2_TARGET_GENERIC_PASSWD_SHA512=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_LZMA=y
# BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_CPIO_GZIP=y
# BR2_TARGET_ROOTFS_CPIO_LZ4=y
# BR2_TARGET_ROOTFS_CPIO_BZIP2=y
# BR2_TARGET_ROOTFS_CPIO_LZO=y


# RootFS

BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_EDU_PATH)/board/zynq/rootfs-overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_EDU_PATH)/board/zynq/post-image.sh"
